@using Microsoft.AspNetCore.Identity
@model studentCurator.Models.ApplicationContext
@inject UserManager<User> _userManager
@{
    ViewBag.Title = "Groups";
    Layout = "_Layout";
    var currentUser = await _userManager.GetUserAsync(User);
    int count = 1;
}
<section>
    <nav style="float: left; padding: 20px;">
        <ul style="list-style-type: none; padding: 0">
            <li><a class="btn btn-info" style="width: 100px;" role="button" asp-controller="Home" asp-action="Index">Назад</a></li>
            <li><a class="btn btn-info" style="width: 100px;" role="button" href="#">Действие</a></li>
            <li><a class="btn btn-info" style="width: 100px;" role="button" href="#">Действие</a></li>
        </ul>
    </nav>
    <article style="float: left; padding: 20px; width: 70%">
        <h2>Это сраница групп, которые закреплены за вами:</h2>
        <p><a class="btn btn-primary" role="button" asp-controller="Group" asp-action="AddGroup">Добавить группу</a></p>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Курс</th>
              <th scope="col">Группа</th>
              <th scope="col">Управление</th>
            </tr>
          </thead>
          <tbody>
          @foreach (var item in Model.Groups.Where(i => i.UserId == currentUser.Id))
          {
              <tr>
                  <th scope="row">@count</th>
                  <td>@item.Course</td>
                  <td>@item.GroupNumber</td>
                  <td style="width: 200px">
                      <a class="btn btn-primary" style="width: 200px; margin-bottom: 5px" role="button" asp-controller="Student" asp-action="Students" asp-route-id="@item.Id">Студенты</a>
                      <a class="btn btn-primary" style="width: 200px; margin-bottom: 5px" role="button" asp-controller="Group" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                      <form method="post" asp-action="Delete" asp-controller="Group" asp-route-id="@item.Id">
                          <input onclick="return confirm('Вы уверены что хотите удалить эту группу?')" class="btn btn-danger" style="width: 200px" role="button" type="submit" value="Удалить">
                      </form>
                  </td>
              </tr>
              count++;
          }
          </tbody>
        </table>
    </article>
</section>

